name: Vitawerks Test CI&CD setup

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/checkout@master

      # - name: Configure AWS credentials
      #   uses: Fooji/create-aws-profile-action@v1
      #   with:
      #     key: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     secret: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     region: ${{ secrets.AWS_TEST_REGION }}
      #     profile: vw
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - uses: mathrix-education/sonar-scanner@master
        with:
          version: 4.2.0.1873 # required
          typescript: true
          scan: true
          args: --debug -Dsonar.login=${{ secrets.SONARQUBE_TOKEN }}

      # - name: Install npm dependencies
      #   run: make deploy-application STAGE=test
      - name: SonarQube Scan
        uses: kitabisa/sonarqube-action@v1.1.0
        with:
          host: ${{ secrets.SONARQUBE_HOST }}
          login: ${{ secrets.SONARQUBE_TOKEN }}
     